@import 'globals';

@include react-md-everything;

.body {
  margin: 70px 0px;
  //font-family: 'Open Sans', sans-serif;
}

.header-title {
  padding: 10px;
  font-weight: bold;
}

.md-list--nested-1 .md-list-tile { // fix nav item alignment
  padding-left: 16px;
}

.navItem { // remove underline from linked nav items
  text-decoration: none;
}

.inline-btn { // button in line with text field
  top: 20px;
}

.md-text-field-icon-container { // table header text field alignment
  padding-bottom: 16px;
}

%member-card {
  padding: 5px;
}

.member-card {
  @extend %member-card;
  height:100%;
}

.list_chip {
  margin: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
}

.card-action-title {
  div {
    width: 100%;
  }
  h2 {
    width: 100%;
  }
}

.launchHor {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  height: 50%;
}

.launchVer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
}


.spacer {
  padding: 6px;
}

.bigSpacer {
  padding: 8px;
}

.black {
  color: black;
}

.vertSpacer {
  padding: 300px;
}

.redButton {
  //background: $md-red-200;
  color: $md-red-800;
  i {
    color: inherit;
  }
}

.raisedRedButton {
  background: $md-red-800;
  color: $md-white-base;
  width: 100%;
  i {
    color: inherit;
  }
}

.addButton {
  width: 100%;
  i {
    color: inherit;
  }
}

.small {
  padding-right: 16px;
}

.smallHeader {
  div {
    padding-left: 10px;
  }
}

.table1 {
  div {
    max-width: 20px;
  }
}

.table3 {
  div {
    max-width: 220px;
  }
}

.padRight {
  padding-right: 20px;
}

.fieldDouble {
  width: 100%;
  margin: 0;
  padding-bottom: 17px;
}

.fieldWidth {
  max-width: 168px;
  min-width: 168px;
  margin: 0;
  padding-bottom: 17px;
}

.inlineDate {
  display: inline;
  padding-right: 20px;
  div {
    hr {
      margin-bottom: 21px;
    }
  }
}

.newCard {
  background-color: $md-red-100;
}