@import 'globals';

@include react-md-everything;

.body {
  margin: 97px 25px;
  //font-family: 'Open Sans', sans-serif;
}

.header-title {
  padding: 10px;
  font-weight: bold;
}

.md-list--nested-1 .md-list-tile { // fix nav item alignment
  padding-left: 16px;
}

.navItem { // remove underline from linked nav items
  text-decoration: none;
}

.inline-btn { // button in line with text field
  top: 20px;
}

.md-text-field-icon-container { // table header text field alignment
  padding-bottom: 16px;
}

%member-card {
  padding: 5px;
  margin: 10px;
}

.member-card {
  @extend %member-card;
  height:100%;
}

.chips__list {
  @extend %member-card;
  height:100%;
}

.list_chip {
  margin: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
}

.card-action-title {
  h2 {
    width: 100%;
  }
}