body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

table {
    border-collapse: collapse;
    width: 400px;
    border: 1px solid #999;
}

td {
    text-align: center;
    padding: 10px;
    border: 1px solid #999;
}

th {
    padding: 10px;
    border: 1px solid #999;
    background-color: #0033cc;
    color: #ffffff;
}

tr:hover {
    background-color: #f5f5f5;
}

.indexButton {
    border-radius: 4px;
    background-color: #0033cc;
    color: #ffffff;
    border: 1px solid #ffffff;
}

.indexButton:focus {
    outline: none;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}
